


@model List<Layout>

@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Category List</h4>

                        <div class="table-responsive pt-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Logo
                                        </th>
                                        <th>
                                            Instagram
                                        </th>
                                        <th>
                                            Facebook
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="table-info">
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            <img src="~/images/@item.Logo" style="width:200px ;height:50px ;border-radius:inherit"alt="" />
                                        </td>
                                        <td>
                                            @item.InstagramUrl
                                        </td>
                                        <td>
                                            @item.FacebookUrl
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" asp-controller="layout" asp-action="detail" asp-route-id="@item.Id">Detail</a> <a class="btn btn-secondary" asp-controller="layout" asp-action="update" asp-route-id="@item.Id">Update</a>
                                            <a class="btn btn-danger" asp-controller="layout" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


